<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exam.signalprocessing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/zooniversity_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.exam.signalprocessing.LocationActivity"/>
        <activity android:name="com.exam.signalprocessing.Content"></activity>
        <activity android:name="com.exam.signalprocessing.AnimalBookActivity" />
        <activity android:name="com.exam.signalprocessing.AnimalBookDetailActivity"/>
        <activity android:name="com.exam.signalprocessing.NameContestAddContestIdea" />
        <activity android:name="com.exam.signalprocessing.NameContestIdeaViewHome" />
        <activity android:name="com.exam.signalprocessing.AddNameContestActivity" />
        <activity android:name="com.exam.signalprocessing.NameContestActivity" />
        <activity android:name="com.exam.signalprocessing.SearchActivity" />
        <activity android:name="com.exam.signalprocessing.CocommentActivity" />
        <activity android:name="com.exam.signalprocessing.commentActivity" />
        <activity android:name="com.exam.signalprocessing.writeArticleActivity" />
        <activity android:name="com.exam.signalprocessing.ConnectorActivity" />
        <activity android:name="com.exam.signalprocessing.AddWaitAnimalActivity" />
        <activity android:name="com.exam.signalprocessing.WaitAnimalActivity" />
        <activity android:name="com.exam.signalprocessing.VerifyEmailActivity" />
        <activity android:name="com.exam.signalprocessing.ShowMessageActivity" />
        <activity android:name="com.exam.signalprocessing.PutUniversityActivity" />
        <activity android:name="com.exam.signalprocessing.UniversityActivity" />
        <activity android:name="com.exam.signalprocessing.MypageActivity" />
        <activity android:name="com.exam.signalprocessing.FindpwActivity" />
        <activity android:name="com.exam.signalprocessing.SetNameActivity" />
        <activity android:name="com.exam.signalprocessing.FreeBoardActivity" />
        <activity android:name="com.exam.signalprocessing.SignupActivity" />
        <activity android:name="com.exam.signalprocessing.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.exam.signalprocessing"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>